.WeightChart {
    height: 100%;
}

.WeightChartPaper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.WeightChartChart {
    height: 100%;
    width: 100%;
}
