.MainContainer {
    padding-top: 2rem;
    height: calc(100% - 64px);
}

.HomePage {
    height: calc(100vh - 64px);
}

.MainTabPanel {
    height: 100%;
}

.MainGrid {
    height: 100%;
    display: grid;
    row-gap: 1rem;
    grid-template-rows: 50% 50%;
}
